body {
  background-image: url("../images/GreenBackground.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #0a0a0a;
  margin: 1px;
}

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
  color: #000;
  text-shadow: 1px 1px 1px #1d3502;
  font-variant-caps: small-caps;
  font-size: 30px; /* Re-enabled and corrected */
}

p {
  color: rgb(0, 0, 0);
}

li {
  color: rgb(90, 39, 5);
}
div {
  /*border: double black;*/
}

.wrapper {
  display: flex;
}

.wrapper div {
  flex: 1;
}