   body {
            background-image:url("../images/skybackground.jpg");
            background-size: cover;
            font-family: "Roboto";
            color: #436b15;
            margin: 1px:
        }

    h1, h2, h3 {
        font-family: Libre Baskerville, serif;
        color: #000;
        text-shadow: 1px 1px 1px #96cc58;
        font-style: smallcaps;
    /*font-size:30px: */
    }

    p {
        color: white;
    }
    
    li {
        color:green;
    }
    div {

  /*border: double white;*/
}

.wrapper {

  display: flex;

}

.wrapper div {

  flex: 1;

}